
.heading
{
font-size: 26px !important;
width: 30%;
margin: 5px;
}

#status
{
font-size: 18px;
}

.bg {
    background-image: url("background.jpg");
    background-size: cover;
}
canvas {
    border: 3px red dashed;
    box-shadow: 5px 5px 15px rgb(76, 76, 235);
}